.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: aqua;
}

.logo {
  width: 100px;
  height: 100px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 20px;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 300px;
  background-color: aquamarine;
}

.search {
  margin: 5px;
  padding: 5px;
}

.res-logo {
  height: 40%;
  width: 100%;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin: 10px;
  cursor: pointer;
}

.filter-btn {
  cursor: pointer;
}
